{{- if .Values.cloudflare.enabled }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudflare-tunnel-secret
spec:
  refreshInterval: 1h  # how often to refresh the secret
  target:
    # secret name to create in k8s
    name: cloudflare-tunnel-secret
    creationPolicy: Owner
  secretStoreRef:
    # credentials for reading the secret from GCP
    kind: ClusterSecretStore
    name: {{ .Values.cloudflare.externalSecretStore }}
  data:
  - secretKey: "token"
    remoteRef:
      key: {{ .Values.cloudflare.tunnelExternalSecretName }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudflare-short-lived-cert-secret
spec:
  refreshInterval: 1h  # how often to refresh the secret
  target:
    # secret name to create in k8s
    name: cloudflare-short-lived-cert-secret
    creationPolicy: Owner
  secretStoreRef:
    # credentials for reading the secret from GCP
    kind: ClusterSecretStore
    name: {{ .Values.cloudflare.externalSecretStore }}
  data:
  - secretKey: "ca.pub"
    remoteRef:
      key: {{ .Values.cloudflare.shortLivedCertExternalSecretName }}
{{- end }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: crowdstrike-creds
spec:
  refreshInterval: 1h  # how often to refresh the secret
  target:
    # secret name to create in k8s
    name: crowdstrike-creds
    creationPolicy: Owner
  secretStoreRef:
    # credentials for reading the secret from GCP
    kind: ClusterSecretStore
    name: {{ .Values.secrets.externalSecretStore }}
  dataFrom:
  - extract:
      key: {{ .Values.secrets.crowdstrikeCredsExternalSecretName }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: id-rsa-cluster
spec:
  refreshInterval: 1h  # how often to refresh the secret
  target:
    # secret name to create in k8s
    name: id-rsa-cluster
    creationPolicy: Owner
  secretStoreRef:
    # credentials for reading the secret from GCP
    kind: ClusterSecretStore
    name: {{ .Values.secrets.externalSecretStore }}
  dataFrom:
  - extract:
      key: {{ .Values.secrets.idRsaClusterExternalSecretName }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ldap-client-creds
spec:
  refreshInterval: 1h  # how often to refresh the secret
  target:
    # secret name to create in k8s
    name: ldap-client-creds
    creationPolicy: Owner
  secretStoreRef:
    # credentials for reading the secret from GCP
    kind: ClusterSecretStore
    name: {{ .Values.secrets.externalSecretStore }}
  dataFrom:
  - extract:
      key: {{ .Values.secrets.ldapClientCredsExternalSecretName }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: munge-key
spec:
  refreshInterval: 1h  # how often to refresh the secret
  target:
    # secret name to create in k8s
    name: munge-key
    creationPolicy: Owner
  secretStoreRef:
    # credentials for reading the secret from GCP
    kind: ClusterSecretStore
    name: {{ .Values.secrets.externalSecretStore }}
  data:
  - secretKey: "munge.key"
    remoteRef:
      key: {{ .Values.secrets.mungeKeyExternalSecretName }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: yubikey-pam
spec:
  refreshInterval: 1h  # how often to refresh the secret
  target:
    # secret name to create in k8s
    name: yubikey-pam
    creationPolicy: Owner
  secretStoreRef:
    # credentials for reading the secret from GCP
    kind: ClusterSecretStore
    name: {{ .Values.secrets.externalSecretStore }}
  data:
  - secretKey: "yubikey"
    remoteRef:
      key: {{ .Values.secrets.yubikeyPamExternalSecretName }}
